.Add-form,
.Input-group {
  align-items: center;
  display: flex;
  gap: 20px;
}

.Add-form {
  background-color: #eee;
  border-radius: 12px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px;
}

.Input-group > label {
  font-size: 16px;
  font-weight: 700;
  cursor: default;
}

.Input-group > input {
  border: none;
  border-radius: 12px;
  height: 40px;
  padding: 0 12px;
  width: 240px;
}

.Add-button {
    background-color: teal;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    height: 40px;
    width: 140px;
}